<a href="https://colab.research.google.com/github/babyprof01/geo-312/blob/main/book/labs/lab_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [5]:
latitude = 40.7128
longitude =-74.0060
population = 8336817
area = 783.8
population_density = population / area
print(population_density)
print("Latitude:", latitude, "Longitude:", longitude)

10636.408522582293
Latitude: 40.7128 Longitude: -74.006

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [7]:
Eiffel_tower = (latitude, longitude)
Eiffel_tower = (48.8584, 2.2945)
print(Eiffel_tower)
latitude = 48.8585
print(Eiffel_tower)

(48.8584, 2.2945)
(48.8584, 2.2945)

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [9]:
countries = {"Germany", "Spain", "USA"}
print(countries)
countries.add("canada")
print(countries)

{'USA', 'Spain', 'Germany'}
{'USA', 'Spain', 'canada', 'Germany'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 m続/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [13]:
river = {"name": "Amazon River",
         "Length": "6400km",
         "Countries": ["Brazil", "Peru", "Colombia"],
         "Average_discharge": "209,000 m続/s"}
print(river)
river["Length"] = "6992km"
print(river)

{'name': 'Amazon River', 'Length': '6400km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average_discharge': '209,000 m続/s'}
{'name': 'Amazon River', 'Length': '6992km', 'Countries': ['Brazil', 'Peru', 'Colombia'], 'Average_discharge': '209,000 m続/s'}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [14]:
city = {"Name": "Tokyo",
        "Population": 13515271,
        "Coordinates": (35.6895, 139.6917)}
print(city["Population"])
print(city["Coordinates"][0])
city["Population"] = 14000000
print(city)

13515271
35.6895
{'Name': 'Tokyo', 'Population': 14000000, 'Coordinates': (35.6895, 139.6917)}

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [16]:
cities = ["Lagos", "Abuja", "Spain", "Burj Arab", "United States"]
cities.sort()
print(cities)
cities.pop()
print(cities)

['Abuja', 'Burj Arab', 'Lagos', 'Spain', 'United States']
['Abuja', 'Burj Arab', 'Lagos', 'Spain']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [19]:
print("Length" in river)
print(river.keys())
print(river.values())

True
dict_keys(['name', 'Length', 'Countries', 'Average_discharge'])
dict_values(['Amazon River', '6400km', ['Brazil', 'Peru', 'Colombia'], '209,000 m続/s'])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [20]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [24]:
new_location = ["Mount Everest", "K2", "Kangchenjunga"]
print(new_location)
dict_location = {"Mount Everest": (27.9881, 86.9250),
                 "K2": (35.8808, 76.5155),
                 "Kangchenj": (27.7025, 88.1475)
}
print(dict_location["K2"])

['Mount Everest', 'K2', 'Kangchenjunga']
(35.8808, 76.5155)